<div id="faq-content">
  <h1>FAQ</h1>
  <div class="faq-pattern">
    <h3>Les réponses à vos questions se trouvent ici !</h3>
    <h3>Vous n'avez pas trouvé votre bonheur 🤔 &nbsp? Contactez-nous ☺️  &nbsp!</h3>
  </div>
  <ul class="accordion">
    <li class="accordion-item">
      <h4 class="accordion-title">Qu'est-ce que Le Coq Trotteur ?</h4>
      <div class="accordion-content">
        <p class="text">Le Coq Trotteur est le spécialiste du court séjour surprise dans le terroir historique et culturel français, le tout chez des hôtes de folie. Nous vous emmenons dans des endroits originaux, magnifiques et très peu connus des citadins des grandes villes. Vous découvrez votre destination, ainsi que votre gare de départ 24h avant de partir 🚀</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Quelles sont vos valeurs ?</h4>
      <div class="accordion-content">
        <p class="text">Nous désirons offrir une expérience authentique, unique et humaine à nos "trotteurs". Vous partirez exclusivement dans des lieux de qualité où nous ferions nous-même le choix de nous rendre. Enfin, nous aspirons à être les leaders de la "France secondaire", toute aussi belle que différente des circuits touristiques habituels.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">En quoi l'expérience du Coq Trotteur est-elle unique ?</h4>
      <div class="accordion-content">
        <p class="text">Tout simplement parce qu'il n'aura jamais été si facile de faire de <strong>vraies</strong> découvertes le temps d'un week-end. Nous avons à coeur de vous permettre une immersion privilégiée dans des lieux très peu connus et proches de chez vous (moins de 2h30).</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Combien de temps à l'avance dois-je réserver ?</h4>
      <div class="accordion-content">
        <p class="text">Idéalement au moins 2 semaines à l'avance : pour conserver une qualité et une maitrise au poil de nos séjours, nous limitons le nombre de places par date. Les disponibilités se trouveront sur le calendrier que vos trouverez en deuxième étape de votre parcours de réservation.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Pourquoi la destination reste-t-elle secrète ?</h4>
      <div class="accordion-content">
        <p class="text">Parce-que notre voeux le plus cher est de vous surprendre ☺️ ! Disons plus simplement que nous croyons fermement au pouvoir de l'imprévu : découvrir des endroit inattendus, faire des rencontres simples et belles...le secret permet de vivre l'expérience d'un véritable micro-voyage le temps d'un week-end. Et vous permettra de faire de beaux cadeaux qui ont du sens à vos proches.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Combien coûtent les séjours et que comprennent-ils ?</h4>
      <div class="accordion-content">
        <p class="text">Nos séjours coûtent entre 90 et 210€ par personne en fonction de la durée choisie.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Combien de temps puis-je partir ?</h4>
      <div class="accordion-content">
        <p class="text">Vous pouvez partir sur une à trois nuits, du jeudi au lundi à convenance.</p>
      </div>
    </li>
    <li class="accordion-item" id="make-a-gift">
      <h4 class="accordion-title">Comment organiser un séjour surprise ?</h4>
      <div class="accordion-content">
        <p class="text">Rien de plus simple : cochez la case "Ce séjour est une surprise". Ainsi, seule la personne ayant réalisé l'achat du séjour en sera informée. Nous vous demanderons aussi les mails du ou de vos invité(s) qui recevront leurs instructions 24h à l'avance.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Comment les destinations et hébergements sont-ils choisis ?</h4>
      <div class="accordion-content">
        <p class="text">"Ce ne sont pas nous qui choisissons les lieux, mais les lieux qui nous choisissent". Bon c'est bien beau tout ça, mais disons plus simplement que nous avons été sourcer des endroits d'exception qui vous garantiront un équilibre entre découverte, accueil exceptionnel et repos. Nous avons rencontré chacun de nos hôtes et travaillons en étroite collaboration avec chacun d'entre eux pour adapter au mieux votre séjour.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Les hébergements incluent-ils le petit-déjeuner ?</h4>
      <div class="accordion-content">
        <p class="text">Oui. Bon app'. 🥖🥐</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Je ne suis pas de nationalité française, est-ce un problème ?</h4>
      <div class="accordion-content">
        <p class="text">Non, aucun si vous êtes de l'espace Schengen. Attendez-vous cependant à devoir communiquer majoritairement en français.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Pourquoi privilégiez-vous le train ?</h4>
      <div class="accordion-content">
        <p class="text">Parce-que l'immense réseau ferré français et nos partenariats exclusifs vous permettrons d'atteindre votre destination dans le plus grand calme et confort après une rude semaine.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Aurai-je des indications une fois sur place ?</h4>
      <div class="accordion-content">
        <p class="text">Un Roadbook vous sera envoyé par mail 24h avant votre départ. Celui-ci comprend des informations générales histoire de trouver vos marques. Pour le reste, nos hôtes sauront vous conseiller au mieux et vous réserverons quelques pépites du terroir.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Comment puis-je connaitre la météo sans avoir connaissance du lieu ?</h4>
      <div class="accordion-content">
        <p class="text">Vous recevrez un mail vous indiquant tout ce qui est à savoir 24h avant votre départ, ainsi que les vêtements que nous vous conseillons de prendre. Vous avez besoin de vous organiser plus tôt ? Contactez-nous avec votre numéro de commande, nous nous fairons un plaisir de vous arranger un peu plus tôt (on est sympas hein ?).</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">À quoi correspond l'assurance annulation séjour ?</h4>
      <div class="accordion-content">
        <p class="text">Pour 9,80€ par personne vous pouvez annuler ou modifier vore réservation sans frais. Cette option est disponible lors du remplissage de vos préférences séjour.</p>
      </div>
    </li>
    <li class="accordion-item">
      <h4 class="accordion-title">Que faire en cas de soucis indépendant de ma volonté m'empêchant de partir ?</h4>
      <div class="accordion-content">
        <p class="text">Nous remboursons au complet tout séjour annulé pour des motifs ayants traits au séjour (train annulé, etc.). Dans le cas de contraintes personnelles graves vous empêchant de partir, merci de bien vouloir nous contacter. Toute autre situation ne permettra pas le remboursement du séjour, à moins d'avoir souscrit à l'assurance séjour.</p>
      </div>
    </li>
  </ul>
  <%= link_to "C'EST PARTI !", root_path(anchor: "home-banner"), class: "btn btn-primary btn-faq" %>
</div>
