<div id="reservation-confirmation">
  <div class="reservation-content">
    <h2>Merci <%= @journey.name.capitalize %> votre demande est confirmée !</h2>
    <p>Vous recevrez de nos nouvelles par mail sous peu, à bientôt dans un lieu exceptionnel !</p>
    <%= link_to '> Retour à l\'accueil', root_path, class: "home-link", style: "text-align: center;" %>
  </div>
</div>
