#testimonials-banner {
  display: flex;
  justify-content: space-between;
  height: 500px;
  background-color: $light-gray;
}

.testimonials-title {
 height: 100%;
 width: 35%;
 background-color: $admin;
 h2 {
   margin: 0;
   padding: 40px;
   color: white;
 }
 h3 {
   margin: 0;
   padding: 0 40px;
   font-size: 16px;
   font-style: italic;
   color: white;
 }
}

.testimonials-car {
  width: 65%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  p {
    margin: 0;
    padding: 15px 0;
  }
}

.t-one {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.t-two {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  background-image: image-url('how-banner.jpg');
  background-size: cover;
}

.t-three {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  background-image: image-url('how-banner.jpg');
  background-size: cover;
}

.t-four {
  display: flex;
  justify-content: center;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.quote-container {
  blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 90%;
    margin: 20px 20px 0 20px;
    border: 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
  blockquote:before {
      display: block;
      padding-left: 25px;
      content: "\201C";
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px;
      color: #7a7a7a;
  }
  blockquote cite {
      color: #999999;
      font-size: 14px;
      display: block;
      margin-top: 5px;
  }
  blockquote cite:before {
      content: "\2014 \2009";
  }
}

@media (max-width: 992px) {
  #testimonials-banner {
    display: block;
    height: auto;
    .button-link {
      display: none
    }
  }
  .testimonials-title {
   height: 100%;
   width: auto;
   background-color: $admin;
   h2 {
     margin: 0;
     padding: 20px;
     color: white;
   }
   h3 {
     margin: 10px;
     padding: 0 40px;
     font-size: 16px;
     font-style: italic;
     color: white;
   }
  }
  .testimonials-car {
    width: auto;
    display: block;
  }
  .t-one {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .t-two {
    display: none;
  }
  .t-three {
    display: none;
  }
  .t-four {
    display: flex;
    justify-content: center;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
}
